#git config core.excludesfile
.idea/
swagger-codegen/
*.exec
*.box
*.iml
build/
gradle/
.vagrant
/.idea
target/
*.exe
bin/
log/
[Bb]in
obj/
classes/
Documentation/
[Tt]humbs.db
.DS_Store
META-INF/
*.class
*.dll
*.war
.metadata/
.settings/
.classpath
.project
/CurlMessenger/
*.log
*.log.*
.git/
.gradle
*.ipr
*.iws
out/
#ignore ceodegened ussapi/*Api.java files
src/main/java/gov/nasa/utm/ussn/ussapi/*Api.java
src/main/java/gov/nasa/utm/ussn/testapi/*Api.java
src/main/java/gov/nasa/utm/ussn/pubsafeapi/*Api.java